body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,9,121,0.642945029518821) 49%, rgba(0,212,255,1) 100%);
	color:black;
}	
legend{

	color: black !important;
	
}
	
.black{
	color:black !important;
}
